.allBlogs {
  width: 100%;
  display: flex;
  justify-content: center;

  .all-blogs-container {
    width: 1290px;
    margin: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
      margin-bottom: 50px;
      text-align: center;
    }

    & .all-blog-cards {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .allBlogs {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .all-blogs-container {
      width: 100%;
      margin: 0;
      justify-content: center;
      & h1 {
        margin-top: 50px;
      }

      & .all-blog-cards {
        display: flex;
        flex-direction: column;
        width: 305px;
      }
    }
  }
}
