.blog-article {
  .article-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;

    .article-header {
      padding: 60px 0 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & p {
        font-size: 15px;

        .author-text {
          & a {
            color: rgb(15, 136, 206) !important;
          }
        }
      }
    }
  }

  .speaker-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    & select {
      border: none;
      margin: 0 15px;
      border-radius: 8px;
      padding: 5px 5px;
      box-shadow: -2px -2px 3px #ffffff, 2px 2px 3px rgba(136, 165, 191, 0.48),
        inset -2px -2px 3px #ffffff, inset 2px 2px 3px rgba(136, 165, 191, 0.48);
    }

    & button {
      border: none;
      border-radius: 5px;
      padding: 5px 5px 5px 6px;
      width: 31px;
      height: 31px;
      border-color: #e6e7ee;
      border: 0.0625rem solid #fafbfe !important;
      box-shadow: 2px 2px 3px rgba(136, 165, 191, 0.78), -2px -2px 3px #fff;

      &:hover,
      &:active {
        box-shadow: inset -2px -2px 3px #ffffff,
          inset 2px 2px 3px rgba(136, 165, 191, 0.78);
      }

      & svg {
        width: 18px;
        height: 18px;
        color: #3074bf;
      }
    }
  }

  .article-content {
    background: white;
    padding: 50px 25%;
    width: 100%;

    & section {
      p {
        font-size: 20px;
      }
    }
  }

  .container {
    padding: 35px;
  }

  .container {
    & h4 {
      margin-bottom: 60px;
    }

    & .related-blogs {
      margin-bottom: 80px;
    }
  }
}

@media screen and (max-width: 900px) {
  .blog-article {
    .banner {
      height: 300px !important;
    }

    .speaker-container {
      & select {
        width: 220px;
      }
    }

    .article-header-container {
      margin: 0;
      padding: 0px;

      .article-header {
        padding: 45px 0 0 !important;

        & h1 {
          font-size: 22px;
          font-weight: 600;
        }
      }
    }

    .article-content {
      padding: 30px;

      & section {
        & p {
          font-size: 17px;
        }
      }
    }

    .container {
      padding: 20px;
      & h4 {
        margin-bottom: 30px;
      }

      & .related-blogs {
        padding: 18px;
        margin-bottom: 40px;
      }
    }
  }
}
