.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 600px;
  position: relative;

  & .anticon.anticon-left {
    cursor: pointer;
    position: absolute;
    height: 100%;
    z-index: 2;
    left: 50px;

    svg {
      display: inline-block;
      width: 40px !important;
      height: 40px !important;
      color: white;
      position: relative;
      top: calc(50% - 20px);
      left: 25px;
      z-index: 2;
      opacity: 0.5;
      transition: opacity 0.6s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  .anticon.anticon-right {
    cursor: pointer;
    position: absolute;
    height: 100%;
    z-index: 2;
    right: 50px;

    svg {
      display: inline-block;
      width: 40px !important;
      height: 40px !important;
      color: white;
      position: relative;
      top: calc(50% - 20px);
      right: 25px;
      z-index: 2;
      opacity: 0.5;
      transition: opacity 0.6s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  .carousel-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;

    & h1 {
      z-index: 2;
      position: absolute;
      top: 70%;
      text-align: center;
      font-size: 45px;
      letter-spacing: 1.5px;
      color: white;
    }

    & .indiactors-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      position: absolute;
      bottom: 10px;
      z-index: 3;
      padding: 0;

      & .carousel-indicators {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        color: transparent;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity 0.6s ease;

        &:hover {
          opacity: 1;
        }
      }
    }

    // & .slider-image::before {
    //   -webkit-transition: opacity 1s ease-in-out;
    //   -moz-transition: opacity 1s ease-in-out;
    //   transition: opacity 2s ease-in-out;
    //   transform: translate(-100%);
    // }
    // & .slider-image::after {
    //   transform: translate(100%);
    // }
  }
}

@media screen and (max-width: 900px) {
  .carousel {
    width: 100%;
    height: 300px;
    .anticon.anticon-left {
      left: 0px;
      svg {
        left: 15px;
      }
    }
    .anticon.anticon-right {
      right: 0px;
      svg {
        right: 15px;
        width: 20px;
        height: 20px;
      }
    }

    .carousel-item {
      width: 100%;
      height: 300px !important;

      h1 {
        top: 5%;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 800;
        color: white;
        font-family: "Noto Sans SC", sans-serif;
        font-weight: 600;
        text-shadow: -3px -3px 5px rgba(195, 200, 205, 0.09),
          3px 3px 5px #121417;
      }
    }
  }
}
