.category-blogs {
  padding: 0px;
  display: flex;
  justify-content: center;
  .category-blogs-container {
    & h1 {
      text-align: center;
      font-size: 50px;
    }
    padding: 30px 65px;
    height: max-content;

    & .masonry {
      height: max-content;
      gap: 50px;

      .post {
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .category-blogs {
    padding: 25px 20px;
    .category-blogs-container {
      padding: 10px;
      height: max-content;

      & h1 {
        font-size: 35px;
      }

      .masonry {
        height: 100%;
        gap: 20px;
        .post {
          height: 300px;
        }
      }
    }
  }
}
