.site-navigation {
  height: 65px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  position: sticky;
  z-index: 100;
  top: 0;

  .menu-title {
    font-size: 24px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    font-weight: 500;
    width: 170px;
    border-radius: 25px;

    & a {
      text-decoration: none;
    }
  }

  .anticon,
  .anticon-menu {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 30px !important;
    width: 50px;
    align-items: center;
    cursor: pointer;
    display: none;
  }

  .menu-content-container {
    z-index: 2;
    display: flex;
    align-items: center;
    padding-right: 40px;

    .menu-avtar-container {
      display: flex;
      flex-direction: row;
      // justify-content: center;
      align-items: center;

      .avatar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 120px;
        box-shadow: -3px -3px 5px rgba(195, 200, 205, 0.09), 3px 3px 5px #121417;
        margin-bottom: 30px;
      }

      .my-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        background: $background;
        border: #eff3f8 5px solid;
        box-shadow: -2px -2px 3px #eff3f8, 2px 2px 3px rgba(136, 165, 191, 0.78);
        border-radius: 50%;
      }
      .menu-avtar-name {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        margin-left: 15px;
      }
    }
  }

  ul {
    z-index: 2;
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 20px 0 50px;

    a {
      text-decoration: none;
      padding: 0 20px 0 20px;
      font-size: 20px;
      color: $text-color;

      &:hover {
        color: $text-link;
      }
    }
  }

  .log-ul {
    margin-left: 40px;
    padding: 0;
    li {
      margin-left: 8px;

      a {
        font-size: 18px;
        padding: 0px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .site-navigation {
    width: 100%;

    & svg {
      width: 25px;
      height: 25px;
    }
    .menu-content-container {
      width: 230px;
      height: calc(100% - 65px);
      background: white;
      position: fixed;
      top: 65px;
      left: -350px;
      transition: 300ms ease left;
      flex-direction: column-reverse;
      padding: 0;
      padding-left: 10px;

      .ant-avatar {
        margin-left: 0;
      }

      a {
        width: 100%;
        padding: 0;
      }

      li {
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 60px;
      }

      ul {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
      }

      ul,
      li,
      .menu-avtar-container {
        width: 100%;
      }

      .menu-avtar-container {
        padding-top: 20px;
      }

      &.active {
        left: 0px;
      }
    }
    .anticon,
    .anticon-menu {
      display: flex;
    }

    .log-ul {
      margin-left: 0;
      margin-top: 10px;
      justify-content: flex-start;
      padding: 0;
      padding-top: 25px;
      height: max-content;

      li {
        height: 60px;
        margin-left: 0;
        a {
          font-size: 20px;
          margin-left: 0px;
          padding: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1450px) {
  .site-navigation {
    .menu-title {
      & a {
        display: none;
      }
    }

    & .search {
      display: none;
    }
  }
}
