.manageBlog-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .blogs-container {
    margin-top: 50px;
    .blog-card {
      height: 250px;
      position: relative;

      & .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 25px;
        right: 35px;
        width: 195px;

        .del-btn {
          border: none;
          width: 85px;
          border-radius: 5px;
          color: #d6e1ef;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;
          font-weight: 900px;
          padding: 8px 15px;
          background: linear-gradient(
              175.89deg,
              #f26c0b -390.31%,
              rgba(242, 109, 12, 0) 29.17%
            ),
            linear-gradient(144.05deg, #32383e -69.07%, #17191c 122.22%);
          box-shadow: -3px -3px 7px #ffffff,
            3px 3px 7px rgba(136, 165, 191, 0.48);
          &:hover,
          &:active {
            color: white;
            box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.04),
              inset 3px 3px 10px #070709;
          }
        }

        .update-btn {
          width: 85px;
          border: none;
          border-radius: 5px;
          background-color: $background;
          justify-content: space-between;
          color: #444;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 900px;
          padding: 8px 15px;
          box-shadow: -3px -3px 7px #ffffff,
            3px 3px 7px rgba(136, 165, 191, 0.48);

          &:hover,
          &:active {
            color: #a9b1bb;
            box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px rgba(136, 165, 191, 0.48);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .manageBlog-container {
    padding: 0;
    width: 100%;
    .blogs-container {
      padding: 0;
      margin: 30px 0;

      .blog-card {
        width: 280px;
        min-height: 300px;
        padding: 20px;
        position: relative;

        h5 {
          font-size: 18px;
        }

        .description-text {
          font-size: 14px;
        }
      }

      .button-container {
        margin-top: 20px;
      }
    }
  }
}
