.search {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.search-form {
  display: flex;
  flex-direction: row;
  border-radius: 20px;

  width: 325px;
  .search-container {
    height: 40px;

    .search-input {
      height: 40px;
      width: 250px;

      &:focus {
        outline: none;
      }
    }
  }

  .search-btn {
    background-color: #121417;
    color: white;
    height: 40px;
    width: 75px;
    font-size: 19px;
    border: none;

    &:active {
      outline: none;
      color: #d6e1ef;
    }
  }
}

.searched {
  z-index: 11;
  display: flex;
  justify-content: center;
  width: 250px;

  & .drop {
    padding: 15px 5px;
    position: absolute;
    width: 250px;
    height: 150px;
    top: 53px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3),
      inset -2px -2px 7px rgba(0, 0, 0, 0.2);
    .drop-items {
      margin-bottom: 10px;

      .title-text {
        color: $text-link !important;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 0.5;
        // text-decoration: underline !important;
        padding: 0 20px;

        &:hover {
          color: $text-light !important;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .search {
    display: none;
  }
}
