.sign {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 30vw;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 7px rgba(136, 165, 191, 0.48);
  // inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
  border-radius: 25px;
  padding-top: 3rem;
  padding-top: 3rem;

  .brand-container {
    border-radius: 80px;
    width: 250px;
    height: 80px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 7px rgba(136, 165, 191, 0.48),
      inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.form-input {
  height: 3.1rem;
  width: 390px;
  border-radius: 0;
  margin-bottom: 15px;
}

.form-btn {
  background-color: black;
  height: 3.1rem;
  color: white;
  font-weight: 900;
  border-radius: 0;
  border-width: 0;
  width: 390px;
  margin-top: 30px;
  margin-bottom: 25px;

  &:hover {
    background-color: #0879bf;
  }
}

@media screen and (max-width: 900px) {
  .sign-container {
    width: 90vw;
    // box-shadow: -3px -3px 7px #ffffff, 3px 3px 7px rgba(136, 165, 191, 0.48),
    box-shadow: inset -3px -3px 7px #ffffff,
      inset 3px 3px 7px rgba(136, 165, 191, 0.48);

    .brand-container {
      display: none;
    }

    .form-input {
      width: 80vw;
      margin-bottom: 10px;
    }

    .form-btn {
      width: 80vw;
    }
  }
}
