.tagBlogs {
  width: 100%;
  display: flex;
  justify-content: center;

  .tagBlogs-container {
    width: 1290px;
    margin: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
      margin-bottom: 50px;
    }

    & .tag-blog-cards {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .tagBlogs {
    padding: 0;
    .tagBlogs-container {
      & h1 {
        margin-top: 50px;
      }

      & .tag-blog-cards {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
