.profile-update {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $background;
  height: calc(100% - 65px);
  // padding: 0px 100px 0px 100px;
  padding: 0;

  .update-container {
    width: 70%;
    padding: 60px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .avatar-update {
      margin-top: 40px;
      margin-right: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .form-group {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        width: 70%;

        .btn {
          background-color: $background;
          padding: 10px 0px;
          width: 130px;
          color: #171c21 50.9%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 900px;
          letter-spacing: 0.5px;
          box-shadow: -3px -3px 7px #ffffff,
            3px 3px 7px rgba(136, 165, 191, 0.48);

          &:hover,
          &:active {
            box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 7px rgba(136, 165, 191, 0.48);
          }
        }
      }
    }

    .avatar-container {
      border-radius: 180px;
      width: 180px;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -3px -3px 7px #ffffff, 3px 3px 7px rgba(136, 165, 191, 0.48),
        inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
    }
  }
}

.form-container {
  max-height: max-content;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 430px;
  border-radius: 25px;
  padding: 35px 70px;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 7px rgba(136, 165, 191, 0.48);

  .brand-container {
    border-radius: 80px;
    width: 250px;
    height: 70px;
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 7px rgba(136, 165, 191, 0.48),
      inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
  }

  .sign-title {
    margin: 20px auto;
    font-size: 28px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.5px;
  }

  .user-form {
    min-height: max-content;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    & .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      width: 100%;

      label {
        display: inline-block;
        margin-bottom: 0.5rem;
      }

      & textarea {
        resize: none;
        height: 80px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        background-color: #e8f0fe;
        padding: 5px 8px;

        &:hover,
        &:in-range {
          border: 1px solid #0879bf;
        }
      }

      .form-input {
        height: 45px;
        border-radius: 0;
        margin-bottom: 15px;
        border: 1px solid #ced4da;
        background-color: #e8f0fe;
        padding: 0 12px;
        outline: 0;
        transition: ease-in 200mx;

        &:hover {
          border: 1px solid #0879bf;
        }
      }
    }
    .form-btn {
      background-color: black;
      height: 3.1rem;
      color: white;
      font-weight: 900;
      border-radius: 0;
      border-width: 0;
      width: 100%;
      padding: 0;
      margin: 30px 0 25px;
      cursor: pointer;
      transition: ease-in;
      transition-duration: 200ms;

      &:hover {
        background-color: #0879bf;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .profile-update {
    .update-container {
      display: flex;
      width: calc(100% - 40px);
      height: max-content;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .avatar-update {
        margin: 0;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .avatar-container {
          margin: 0;
          padding: 0;
          width: 150px;
          height: 150px;
        }

        .form-group {
          margin: 25px 0;
          display: flex;
          align-items: center;

          & .btn {
            font-size: 18px !important;

            svg {
              font-size: 18px;
            }
          }
        }
      }

      .form-container {
        width: 100%;
        box-shadow: none;
        min-width: 360px;
        padding: 0;

        .brand-container {
          display: none;
        }

        .user-form {
          .form-group {
            width: 80%;
            margin-bottom: 10px;
          }
          .form-btn {
            width: 80%;
            margin: 20px 0 35px;
          }
        }
      }
    }
  }

  .update-form {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    margin: 30px 0;

    .brand-container {
      margin: 10px 0 30px 0;
    }

    .user-form {
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .form-group {
        width: 250px;
      }

      .form-input,
      .about-input {
        width: 100%;
        font-size: 15px;
        padding: 6px;
      }

      .form-input {
        height: 40px;
      }

      .form-btn {
        width: 100%;
      }
    }
  }
}
