.dashboard-right-container {
  background: linear-gradient(89.72deg, #f0f4f9 -4.95%, #eaebf3 578.66%);
  display: flex;
  padding: 0px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & .header-container {
    height: 180px;
    width: 1250px;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .brand-container {
      border-radius: 80px;
      width: 250px;
      height: 80px;
      padding-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -3px -3px 7px #ffffff, 3px 3px 7px rgba(136, 165, 191, 0.48),
        inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
    }

    .btn-contaienr {
      padding-top: 18px;
      margin-left: 35px;
      margin-right: 35px;
      border-radius: 70px;
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -3px -3px 7px #ffffff, 3px 3px 7px rgba(136, 165, 191, 0.48);

      & h1 {
        font-size: 60px;
      }
    }

    .info-container {
      padding: 20px;
      height: 120px;
      letter-spacing: 3px;
      width: 500px;

      h2 {
        font-weight: 700 !important;
      }

      h5 {
        font-size: 20px;
      }
    }
  }

  & .pagination-container {
    padding: 10px;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2),
      -6px -6px 26px rgba(255, 255, 255, 0.8);
    border-radius: 50px;
  }
}

.blog-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  height: 500px;
  padding: 0px;

  & a {
    height: 210px;
    width: 400px;
  }

  & .blog-card {
    height: 210px;
    width: 400px;
    padding: 25px;

    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6),
      -6px -6px 26px rgba(255, 255, 255, 0.8);
    border-radius: 16px;

    & h5 {
      font-weight: 500;
      font-size: 20px;
    }

    & .desc-text {
      margin-bottom: 10px;
      color: #7889a2;
    }

    & div {
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 900px) {
  .dashboard-right-container {
    width: 100%;
    height: max-content;
    padding: 20px;
    justify-content: center;
    align-items: center;

    & .header-container {
      width: 100%;
      height: 130px;
      margin: 0;
      padding: 0;

      & .brand-container {
        display: none;
      }

      & .info-container {
        width: 100%;
        letter-spacing: 1px;

        h2 {
          font-size: 25px;
        }

        h5 {
          font-size: 15px;
        }
      }

      .btn-contaienr {
        display: none;
      }
    }

    & .blog-card-container {
      width: 100vw;
      height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      padding: 15px 20px;

      & a,
      .blog-card {
        width: 300px;
        height: 250px;
        margin: 0 auto;

        & h5 {
          font-weight: 800;
          font-size: 15px;
        }
      }
    }

    & .pagination-container {
      margin-bottom: 20px;
    }
  }
}
