article {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}
.article-container {
  width: 50vw;
  margin: 50px 0;
}

@media screen and (max-width: 900px) {
  .banner {
    height: 300px !important;
  }
  .article-container {
    width: 80vw;
    margin: 30px 0;
  }
}
