@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "editor";
@import "_sign";

html,
body {
  box-sizing: border-box;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $background;
}

#__next {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $text-color !important;

  &:hover {
    color: $text-light !important;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
