@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "editor";
@import "_sign";
@import "_blogPost";
@import "_tagRow";
@import "_blogCategory";
@import "postGrid";
@import "article";
@import "_home";
@import "search";
@import "header";
@import "userDashboard";
@import "userBlogs";
@import "publicProfile";
@import "updateProfile";
@import "blogUpdate";
@import "manageBlogs";
@import "tagBlogs";
@import "categoryBlogs";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

html,
body {
  box-sizing: border-box;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $background;
}

#__next {
  height: 100%;
  background-color: $background;
}

#nprogress .bar {
  height: 4px !important;
  background-color: #1bb2f9 !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $text-color !important;

  &:hover {
    color: $text-light !important;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin: 4rem 10px;
}

.overlay::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.index-container {
  background-color: $background;
}
